---
import type { CollectionEntry } from "astro:content";

interface Props {
    backlinks: Array<CollectionEntry<"posts"> | CollectionEntry<"reviews">>;
    type?: "books" | "posts"; // which page/type this component will render on
}

const { backlinks, type = "posts" } = Astro.props;
---

<div class="backlinks">
    <div class="heading | small-title" id="backlinks">Backlinks</div>
    <p class="description">
        Other entries that reference this {type == "books" ? "book" : "post"}:
    </p>
    <ul class="list | cluster">
        {
            backlinks.map((backlink) => {
                let href,
                    title = "";
                if (backlink.collection == "reviews") {
                    href = `/library/reviews/${backlink.id}`;
                    title = "Review";
                } else {
                    href = `/posts/${backlink.id}`;
                    title = "Post";
                }
                return (
                    <li>
                        <a class="backlink" href={href}>
                            <p class="entry-type | small-title">{title}</p>
                            <p class="link-title">{backlink.data.title}</p>
                        </a>
                    </li>
                );
            })
        }
    </ul>
</div>

<style>
    .description {
        margin-block-start: var(--space-3xs);
    }

    .list {
        margin-block-start: var(--space-s);
    }

    .backlink {
        display: block;
        padding: 0.65rem 1rem 0.75rem;
        text-decoration-color: transparent;
        border-radius: var(--rounded-xs);
        border: 1px solid color-mix(in srgb, var(--site-accent), white 85%);
        background-color: color-mix(
            in srgb,
            var(--site-accent),
            transparent 92%
        );
        font-size: var(--step--1);
        color: var(--site-accent);
        transition: all 0.2s ease;

        &:hover {
            background-color: transparent;
            border-color: color-mix(in srgb, var(--site-accent), white 80%);

            & .link-title {
                text-decoration-color: var(--site-accent);
                text-underline-offset: 5px;
            }
        }
    }

    .link-title {
        text-decoration: 0.11ex underline transparent;
        text-underline-offset: 3px;
        transition: all 0.2s;
    }

    .entry-type {
        color: var(--site-accent);
        font-size: var(--step--2);
        text-decoration: none;
    }
</style>
