---
import { getEntry, render } from "astro:content";
import Breadcrumbs from "@components/navigation/Breadcrumbs.astro";
import { Image } from "astro:assets";
import PageHeader from "@components/document/PageHeader.astro";
import PageWrapper from "@components/document/PageWrapper.astro";
import { getPageMeta } from "@utils/meta";
import headshot from "@assets/pages/ds-headshot-square.jpg";

const page = await getEntry("pages", "about");
if (!page) {
    throw new Error("page not found");
}
const { Content } = await render(page);

const personalDetails = [
    {
        title: "Los Angeles",
        label: "Location",
    },
    {
        title: "CSS",
        label: "Favorite Language",
    },
    {
        title: "Brix Sans",
        label: "Favorite Font",
    },
];

const featuredLinks = [
    {
        title: "Now",
        description: "Short updates from the present moment.",
        href: "/now",
        external: false,
    },
    {
        title: "Web Design Studio",
        description: "My freelance web design & development practice.",
        href: "https://ds-design-studio.com",
        external: true,
    },
    {
        title: "Writing",
        description: "My writing on various topics.",
        href: "/posts",
        external: false,
    },
    {
        title: "RSS",
        description:
            "Subscribe for updates from the posts, reviews, and updates feed.",
        href: "/feed.xml",
        external: false,
    },
    {
        title: "About This Site",
        description: "Behind the scenes & colophon.",
        href: "/colophon",
        external: false,
    },
];
---

<PageWrapper pageID={page.id} pageMeta={getPageMeta(page)}>
    <div class="content-wrapper paragraph">
        <Breadcrumbs />
        <PageHeader title={page.data.title}>
            <div class="preview"></div>
        </PageHeader>
    </div>
    <div class="page-content | long-text">
        <div class="highlights | cluster">
            <div class="headshot">
                <Image
                    alt="Daniel Saunders headshot."
                    src={headshot}
                    width={400}
                />
            </div>
            <ul class="personal-details | cluster" data-list="special">
                {
                    personalDetails.map((item) => (
                        <li>
                            <p class="detail-item">{item.title}</p>
                            <p>{item.label}</p>
                        </li>
                    ))
                }
            </ul>
        </div>
        <Content />
        <ul class="featured-links" data-list="special">
            {
                featuredLinks.map((link) => (
                    <li>
                        <a
                            href={link.href}
                            target={link.external ? "_blank" : "_self"}
                        >
                            <p class="link-title">
                                {link.title}
                                <span class="arrow">→</span>
                            </p>
                            <p>{link.description}</p>
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</PageWrapper>

<style>
    .headshot {
        position: relative;
        border-radius: 999px;
        padding: 0;
        aspect-ratio: 1/1;
        width: 8rem;
        height: 8rem;
        overflow: hidden;
        background-color: var(--site-accent);
        border: 1px solid color-mix(in srgb, var(--site-accent), white 60%);

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(1) brightness(1.1);
            /* mix-blend-mode: hard-light; */
        }
    }

    .highlights {
        --cluster-space: 3rem;
    }

    .personal-details {
        --cluster-space: 2rem;
        font-size: var(--step--1);
    }

    .detail-item {
        font-size: var(--step-1);
        font-family: var(--font-heading);
        font-weight: var(--font-heading-weight);
    }

    .featured-links {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-s);

        & > * {
            flex: 1 0 45%;
        }

        & a {
            position: relative;
            display: block;
            padding: var(--space-m) var(--space-s) var(--space-m);
            text-decoration-color: transparent;
            border-radius: var(--rounded-xs);
            border: 1px solid color-mix(in srgb, var(--site-accent), white 85%);
            height: 100%;
            background:
                url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="-10 0 938 940" width="64" height="64" opacity="0.3"><g transform="matrix(1 0 0 -1 0 752)"><path fill="%23009FB8" d="M0 21v474h918v-474h-918zM24 45h870v426h-870v-426zM96 81q-13 0 -23 10t-10 26q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -16 -9.5 -26t-23.5 -10zM96 180q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10z M168 129q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM240 84q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM96 276q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5 q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM168 228q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM240 180q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10z M315 129q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM96 372q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM387 81q-13 0 -23 10t-10 26q0 14 10 23.5t23 9.5 q14 0 23.5 -9.5t9.5 -23.5q0 -16 -9.5 -26t-23.5 -10zM168 324q-13 0 -23 10t-10 23q0 16 10 26t23 10q14 0 23.5 -10t9.5 -26q0 -13 -9.5 -23t-23.5 -10zM240 276q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM315 228 q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM387 180q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM459 129q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5 t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM240 372q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM531 81q-13 0 -23 10t-10 26q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -16 -9.5 -26t-23.5 -10zM315 324q-13 0 -23 10 t-10 23q0 16 10 26t23 10q14 0 23.5 -10t9.5 -26q0 -13 -9.5 -23t-23.5 -10zM387 276q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM459 228q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5 q0 -13 -9.5 -23t-23.5 -10zM531 180q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM606 129q-16 0 -26 10t-10 23q0 14 10 23.5t26 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM387 372q-13 0 -23 10t-10 23 q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM678 81q-13 0 -23 10t-10 26q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -16 -9.5 -26t-23.5 -10zM459 324q-13 0 -23 10t-10 23q0 16 10 26t23 10q14 0 23.5 -10t9.5 -26q0 -13 -9.5 -23 t-23.5 -10zM531 276q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM606 228q-16 0 -26 10t-10 23q0 14 10 23.5t26 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM678 180q-13 0 -23 10t-10 23q0 14 10 23.5 t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM750 129q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM531 372q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23 t-23.5 -10zM822 81q-13 0 -23 10t-10 26q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -16 -9.5 -26t-23.5 -10zM606 324q-16 0 -26 10t-10 23q0 16 10 26t26 10q14 0 23.5 -10t9.5 -26q0 -13 -9.5 -23t-23.5 -10zM678 276q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5 q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM750 228q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM822 180q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10z M678 372q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM750 324q-13 0 -23 10t-10 23q0 16 10 26t23 10q14 0 23.5 -10t9.5 -26q0 -13 -9.5 -23t-23.5 -10zM822 276q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5 q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM822 372q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10z"/></g></svg>')
                    repeat-x 0 -8px / 32.35px,
                color-mix(in srgb, var(--site-accent), transparent 92%);

            &:hover {
                border-color: color-mix(in srgb, var(--site-accent), white 80%);

                & .arrow {
                    transform: translateX(0.25rem);
                }
            }
        }

        & .link-title {
            font-family: var(--font-heading);
            font-weight: var(--font-heading-weight);
            font-size: var(--step-1);
        }

        & .arrow {
            display: inline-block;
            margin-inline-start: 0.25rem;
            transition: transform 0.3s ease;
        }
    }

    @media screen and (max-width: 480px) {
        .featured-links {
            & > * {
                flex-basis: 100%;
            }
        }
    }
</style>
